@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flexible-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color{
    color: #FB934A;
}
.half-width{
    width: 50%;
}
.header-content h1{
    font-size: 56px;
}
.header-content p{
    font-size: 20px;
    padding: 20px 0;
}
.button{
    color: white;
    background-image:linear-gradient(to right,#FB934A, #FD5031) ;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.header-img{
    text-align: center;
}
.header-img img{
    width: 80%;
}